.progressBar {
  height: 5px;
  border-radius: 5px;
}

.hundred {
  background-color: $success;
}
.eighty {
  background-color: #95ff66;
}
.sixty {
  background-color: #c8ffb3;
}
.forty {
  background-color: #ffc2a6;
}
.twenty {
  background-color: $error;
}
